@if (simulationService.currentTool() === EditorTool.Aircraft) {

<h2>Aircraft</h2>

@for (aircraft of aircraftList; track aircraft.name) {

<div
    class="entity-card"
    (mouseenter)="simulationService.hoveredTemplate.set(aircraft)"
    (mouseleave)="simulationService.hoveredTemplate.set(null)"
    (click)="select(aircraft)"
>

    <b>{{ aircraft.name }}</b>

</div>

}

}

@else if (simulationService.currentTool() === EditorTool.Radar) {

<h2>Radars</h2>

@for (radar of radarList; track radar.name) {

<div
    class="entity-card"
    (mouseenter)="simulationService.hoveredTemplate.set(radar)"
    (mouseleave)="simulationService.hoveredTemplate.set(null)"
    (click)="select(radar)"
>

    <b>{{ radar.name }}</b>

</div>

}

}

@else {

<h2>Entities</h2>

<p>Select <b>Aircraft</b> or <b>Radar</b> from the toolbar.</p>

}