@if (simulationService.currentTool() === EditorTool.Aircraft) {

<h2>Aircraft</h2>

@for (aircraft of aircraftList; track aircraft.name) {

<div
    class="entity-card"
    (mouseenter)="showCard(aircraft)"
    (mouseleave)="hideCard()"
    (click)="select(aircraft)"
>

    <b>{{ aircraft.name }}</b>

</div>

}

}

@else if (simulationService.currentTool() === EditorTool.Radar) {

<h2>Radars</h2>

@for (radar of radarList; track radar.name) {

<div
    class="entity-card"
    (mouseenter)="showCard(radar)"
    (mouseleave)="hideCard()"
    (click)="select(radar)"
>

    <b>{{ radar.name }}</b>

</div>

}

}

@else {

<h2>Entities</h2>

<p>Select <b>Aircraft</b> or <b>Radar</b> from the toolbar.</p>

}

<hr>

@if (simulationService.selectedEntity(); as entity) {

<h3>Properties</h3>

<p><b>Name:</b> {{ entity.name }}</p>

<p><b>Type:</b> {{ entity.type }}</p>

<p><b>Latitude:</b> {{ entity.position.latitude }}</p>

<p><b>Longitude:</b> {{ entity.position.longitude }}</p>

 @if (isAircraft(entity)) {

<p><b>Altitude:</b> {{ aircraft(entity).position.altitude }}</p>

<p><b>Speed:</b> {{ aircraft(entity).speed }}</p>

<p><b>Heading:</b> {{ aircraft(entity).heading }}</p>

}

@if (isRadar(entity)) {

<p><b>Range:</b> {{ radar(entity).range }}</p>

}

<button (click)="deleteSelected()">
    Delete
</button>

}



