@if(entity){

<div
  class="hover-card"
  [style.left.px]="x"
  [style.top.px]="y"
  (mouseenter)="entered.emit()"
  (mouseleave)="left.emit()"
>

<h3>{{entity.name}}</h3>

<p><b>Type:</b> {{entity.type}}</p>

<p><b>Latitude:</b> {{entity.position.latitude}}</p>

<p><b>Longitude:</b> {{entity.position.longitude}}</p>

@if(isAircraft()){

<p><b>Altitude:</b> {{aircraft().position.altitude}}</p>

<p><b>Speed:</b> {{aircraft().speed}}</p>

<p><b>Heading:</b> {{aircraft().heading}}</p>

}

@if(isRadar()){

<p><b>Range:</b> {{radar().range}}</p>

}

@if(showActions){

<div class="buttons">

<button>Focus</button>

<button class="delete">
Delete
</button>

</div>

}

</div>

}